* {
  margin: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}
p {
  margin-bottom: 0;
}
section > .container {
  width: 90%;
  margin: auto;
  display: block;

  /* padding: 30px 50px; */
}

/* BANNER */
.img {
  position: relative;
  text-align: center;
}
.img h1 {
  position: absolute;
  bottom: 700px;
  right: 820px;
  color: white;
}
.img span {
  position: absolute;
  bottom: 670px;
  right: 850px;
  color: white;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #9e717127;
  height: 50px;
}
.navbar a {
  text-transform: uppercase;
  color: black;
  border-left: 0.1px solid #9e717127;
  border-right: 0.1px solid #9e717127;
  text-align: center;
  align-self: stretch;
  border-collapse: collapse;
  padding: 5px 5px;
  /* padding-left: 10px; */
}
.navimg {
  flex-basis: 300px;
  padding-top: 10px;
  padding-right: 10px;
}
.nav {
  flex-basis: 120px;
  font-size: 14px;
  padding-top: 15px;
}
.navbar a:hover {
  cursor: pointer;
}
i {
  color: rgba(60, 182, 222, 0.938);
}
.img-avt {
  transform: scale(7);
  border: 1px solid #e9ecef;
  border-radius: 50%;
}

/* Thông tin cá nhân */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 300px */
  gap: 70px;
}
#personal-info {
  padding-top: 60px;
}
ul {
  list-style: none;
  line-height: 30px;
}
#target {
  line-height: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
}
.form_input {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 20px;
}
.form_submit {
  padding: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: auto;
}
.hidden {
  display: none;
}
/* Thông tin nghề nghiệp , Kĩ năng, Sở thích, Ngôn ngữ */
.job-info {
  display: grid;
  align-content: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 390px);
  gap: 50px;
  width: auto;
}

.experince {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  height: auto;
  position: relative;
}
.ic-toolbox {
  position: absolute;
  font-size: 40px;
  color: grey;
  right: 40px;
  top: 35px;
}
.experince h1 {
  margin: 30px 30px;
}
.experince div:nth-child(2) {
  margin: 30px 30px;
  line-height: 30px;
  color: grey;
}
.experince div:nth-child(3) {
  margin: 30px 30px;
  line-height: 30px;
  color: grey;
}

.activity {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  position: relative;
  height: auto;
}
.activity h1 {
  margin: 30px 30px;
}
.activity-item1 {
  margin: 30px 30px;
  line-height: 30px;
  color: grey;
}
.activity-item2 {
  margin: 30px 30px;
  line-height: 30px;
  color: grey;
  padding-bottom: 90px;
}
.activity .ic-toolbox {
  font-size: 40px;
  color: grey;
  position: absolute;
  right: 60px;
  top: 35px;
}
.education {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  position: relative;
  height: auto;
}
.education h1 {
  margin: 30px 30px;
}
.education-item1 {
  margin: 30px 30px;
  line-height: 30px;
  color: grey;
}
.education-item2 {
  margin-bottom: 60px;
  margin-left: 30px;
  line-height: 30px;
  color: grey;
}
.ic-pencil {
  position: absolute;
  right: 60px;
  top: 35px;
  font-size: 40px;
  color: grey;
}

.interests {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  height: auto;
  /* padding: 20px; */
  position: relative;
}
.interests h1 {
  margin: 30px 30px;
}
.ic-telescope {
  position: absolute;
  font-size: 40px;
  color: grey;
  right: 60px;
  top: 35px;
}

.icons i {
  border: 2px solid rgb(45, 171, 250);
  border-radius: 50%;
  text-align: center;
  padding: 20px;
}
.icons {
  padding-bottom: 240px;
}
.icon p {
  text-align: center;
}

.skill {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  height: auto;
  line-height: 30px;
  position: relative;
}
.skill h1 {
  margin: 30px 30px;
}
.skill-first {
  margin: 30px 30px;
}
.skill-second {
  margin: 30px 30px;
}
.skill-third {
  margin: 30px 30px;
}
.skill-four {
  margin: 30px 30px;
  padding-bottom: 130px;
}
.skill-first span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-first span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.skill-first span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.skill-second span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-second span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-second span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.skill-third span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-third span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-third span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.skill-four span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.skill-four span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.skill-four span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.ic-tools-2 {
  position: absolute;
  right: 60px;
  font-size: 40px;
  top: 35px;
  color: grey;
}
.language {
  border: solid rgba(128, 128, 128, 0.397) 2px;
  height: auto;
  line-height: 30px;
  position: relative;
}
.language h1 {
  margin: 30px 30px;
}
.language-first {
  margin: 30px 30px;
}
.language-second {
  margin: 30px 30px;
  padding-bottom: 310px;
}
.language-first span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.language-first span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.language-first span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.language-second span:nth-child(2) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: #199cdb;
}
.language-second span:nth-child(4) {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.language-second span:last-child {
  width: 45px;
  height: 2px;
  display: inline-block;
  background: rgba(128, 128, 128, 0.397);
}
.ic-mic {
  position: absolute;
  right: 60px;
  font-size: 40px;
  top: 35px;
  color: grey;
}
/* Chứng chỉ - Giải thưởng */
#certificate h1 {
  font-size: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.container-certificate {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certificate-item {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 1px #d6c08d solid;
}

.certificate-item:nth-child(1) > div:nth-child(2) {
  border-right: 1px solid #d6c08d;
}
.certificate-item:nth-child(3) {
  border-bottom: none;
}
/* Ẩn thông tin nghề nghiệp */
.button {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f7951e;
  opacity: 0;
}
.card:hover .button {
  opacity: 1;
}
.card {
  border: none;
}

/* Dự án */
.section-project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px 30px;
}
#project h1 {
  padding: 20px;
}
.project1 {
  border: 1px solid rgba(128, 128, 128, 0.397);
  height: 800px;
}
.project2 {
  border: 1px solid rgba(128, 128, 128, 0.397);
  height: 800px;
}
.project3 {
  border: 1px solid rgba(128, 128, 128, 0.397);
  height: 800px;
}
.item1 {
  padding: 20px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  font-size: 20px;
  font-weight: bold;
}
.item2 {
  padding: 20px 20px;
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item2 p:nth-child(2) {
  color: gray;
}
.item2 p:nth-child(3) {
  color: grey;
}
.item3 {
  color: grey;
  border-bottom: solid rgba(128, 128, 128, 0.397) 1px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
  padding: 20px;
}
.item4 {
  color: grey;
  border-bottom: solid rgba(128, 128, 128, 0.397) 1px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
  padding: 20px;
}

.item5 {
  color: grey;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
  padding: 20px;
}
/* Thông tin liên hệ */
#footer {
  margin-bottom: 40px;
}
.nav-link {
  text-align: center;
  width: auto;
}
.nav-link li {
  display: inline-block;
  padding: 20px;
}
.row-item {
  border-bottom: solid black 1px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
  padding: 20px;
}
/* digital cv */
#charter {
  width: auto;
}
.container-charter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 50px; */
  width: 100%;
  align-content: start;
}
.timeline {
  grid-column: 3;
  grid-row: 1/3;
}

.goals,
.team,
.scopes,
.primary,
.timeline {
  border: 10px blue solid;
  border-collapse: collapse;
  background-color: rgba(0, 132, 255, 0.178);
}
.goal-1,
.goal-2,
.goal-3 {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
  border-top: 1px rgba(128, 128, 128, 0.363) solid;
}
.goals i {
  padding-top: 20px;
  padding-left: 100px;
}
.goals h1 {
  padding: 10px;
  color: blue;
}
.team-item1,
.team-item2,
.team-item3,
.team-item4 {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 40px;
}
.team h1 {
  padding: 10px;
  color: blue;
}
.team-item1 {
  border-top: 1px rgba(128, 128, 128, 0.363) solid;
}
.team i {
  padding-top: 10px;
  padding-left: 30px;
}
.scopes-all {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 40px;
  gap: 30px;
  border-top: 1px rgba(128, 128, 128, 0.363) solid;
}
.scopes h1 {
  padding: 10px;
  color: blue;
}
.primary-item1,
.primary-item2 {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}
.primary i {
  padding-top: 10px;
  padding-left: 10px;
}
.primary-item1 {
  border-top: 1px rgba(128, 128, 128, 0.363) solid;
}
.primary h1 {
  padding: 10px;
  color: blue;
}
.timeline-item1,
.timeline-item2,
.timeline-item3,
.timeline-item4,
.timeline-item5,
.timeline-item6,
.timeline-item7 {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}
.rounded-number {
  text-align: center;
  background-color: violet;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  line-height: 30px;
  width: 30px;
  height: 30px;
}
.timeline-item1 {
  border-top: 1px rgba(128, 128, 128, 0.363) solid;
}
.timeline h1 {
  padding: 10px;
  color: blue;
}
.timeline-content {
  border-bottom: 1px dotted rgb(0, 174, 255);
}
